@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* Nav */
.navbar {
  background: #0a192f;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  padding-top: 20px;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  color: #64ffda;
  text-decoration: none;
  display: flex;
  font-size: 0.1rem;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: 'Fira Code', monospace;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #ccd6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
  font-family: 'Fira Code', monospace;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  font-family: 'Fira Code', monospace;
}

.button {
  display: flex;
  content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: #64ffda solid 1px;
  outline: none;
  border-radius: 4px;
  background: none;
  color: #64ffda;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #64ffda;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: rgba(100, 255, 218, 0.2);
}

/* Hero */

.hero {
  background: #0a192f;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 1200px;
  margin: 0 400px;
  height: 100vh;
  padding: 0px;
  text-align: left;
}

.hero__intro {
  color: rgb(100, 255, 218);
  font-size: small;
  margin-bottom: 20px;
  font-family: 'Fira Code', monospace;
}

.hero__heading {
  font-size: 60px;
  margin-bottom: 14px;
  color: #ccd6f6;
  font-family: 'Inter', sans-serif;
}

.hero__info {
  font-size: 60px;
  margin-bottom: 20px;
  color: #8892b0;
  font-family: 'Inter', sans-serif;
}

.hero__description {
  margin-bottom: 34px;
  color: #8892b0;
  font-family: 'Inter', sans-serif;
}

.hero__btn {
  display: flex;
  content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-family: 'Fira Code', monospace;
  padding: 20px 20px;
  height: 40px;
  width: 100px;
  border: #64ffda solid 1px;
  outline: none;
  border-radius: 4px;
  background: none;
  color: #64ffda;
  transition: all 0.3s ease;
}

.hero__btn:hover {
  background-color: rgba(100, 255, 218, 0.2);
}

/* About */
.about__container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
  justify-content: center;
  margin: 0 auto;
  height: 60%;
  z-index: 1;
  max-width: 1000px;
  padding: 0 50px;
}

.about__title {
  font-size: 32px;
  margin-bottom: 14px;
  color: #ccd6f6;
  font-family: 'Inter', sans-serif;
  text-align: left;
  padding-left: 560px;
  padding-top: 30px;
  font-weight: 600;
}

.about__title::after {
  content: '';
  display: block;
  position: relative;
  top: -5px;
  width: 330px;
  height: 1px;
  margin-left: 170px;
  background-color: #8892b0;
}

.about__description {
  margin-bottom: 34px;
  color: #8892b0;
  font-family: 'Inter', sans-serif;
  padding-left: 100px;
  padding-top: 50px;
  width: 100%;
}

p > a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  color: #64ffda;
}

.profile_img__container {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  margin: 20px;
  align-items: flex-start;
}

.profile_img {
  margin: 0px;
  height: 320px;
  width: 100%;
  max-width: 200px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.profile_img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.skills_list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding-left: 15px;
  margin: 20px 0px 0px;
}

li {
  font-size: 13px;
  display: list-items;
}

section {
  margin: 0px auto;
  padding: 0px 0px;
  max-width: 1000px;
}

/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.projects__grid {
  list-style: none;
  padding: 0px;
  margin: 50px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  position: relative;
}

.projects__card {
  background-color: #112240;
  font-family: 'Fira Code', monospace;
  border-radius: 6px;
  height: 300px;
  display: flex;
  align-items: center;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.projects__card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.projects__title {
  color: #ccd6f6;
  font-weight: 600;
  font-size: 25px;
  margin: 15px 30px;
  background-color: #112240;
  text-align: center;
}

.projects > h2 {
  font-size: 32px;
  margin-bottom: 0px;
  color: #ccd6f6;
  font-family: 'Inter', sans-serif;
  text-align: left;
  padding-right: 0px;
  padding-top: 30px;
  font-weight: 600;
}

.projects > h2::after {
  content: '';
  display: block;
  position: relative;
  top: -5px;
  width: 830px;
  height: 1px;
  margin-left: 170px;
  background-color: #8892b0;
}

.projects__description {
  color: #a8b2d1;
  margin: 30px 30px;
}

.projects__bot {
  margin-top: 50px;
  color: #64ffda;
  font-weight: 600;
  align-items: center;
}

.contact {
  color: #a8b2d1;
  font-family: 'Fira Code', monospace;
  max-width: 600px;
  margin: 200px auto 100px;
  text-align: center;
  align-items: center;
  margin-bottom: 400px;
  margin-top: 250px;
}

.contact__btn {
  display: flex;
  content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-family: 'Fira Code', monospace;
  padding: 20px 20px;
  margin: 50px 40%;
  height: 40px;
  width: 110px;
  border: #64ffda solid 1px;
  outline: none;
  border-radius: 4px;
  background: none;
  color: #64ffda;
  transition: all 0.3s ease;
}

.contact__btn:hover {
  background-color: rgba(100, 255, 218, 0.2);
}

.projects__tech_list {
  display: flex;
  align-items: flex-end;
  gap: 0px 20px;
  padding-left: 15px;
  margin: 20px 30px 30px;
  list-style: none;
  font-family: 'Inter', sans-serif;
}

.side__left {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: #a8b2d1;
}

.side__right {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: #a8b2d1;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.email a {
  margin: 20px auto;
  padding: 10px;
  font-family: 'Fira Code', monospace;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
}

.email::after {
  content: '';
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.social::after {
  content: '';
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
}

@media screen and (max-width: 1300px) {
  .side__left,
  .side__right {
    display: none;
  }

  .hero__container {
    margin: 0 10%;
  }

  .about__title {
    margin: 0 10%;
    padding-left: 0px;
  }

  .about__title::after {
    display: none;
  }

  .about__container {
    grid-template-columns: 1fr;
    margin: 0 10%;
    padding: 0px;
  }

  .about__description {
    padding-left: 0px;
  }

  .profile_img__container {
    display: none;
  }

  .projects > h2 {
    margin-top: 200px;
  }

  .projects__grid {
    grid-template-columns: 1fr;
    width: 75%;
    align-items: center;
  }

  .projects > h2::after {
    display: none;
  }
  .contact {
    width: 75%;
    margin-bottom: 150px;
    margin-top: 200px;
  }
  .contact__btn {
    margin: 40px 30%;
  }

  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #0a192f;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: rgb(100, 255, 218);
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
    border-radius: 4px;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
